{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid w-100">
    <img class="d-none d-md-block" id="bannerimage" src="media/frontpage-3.png" alt="">
        <div class="row">
            <div class="col-12 col-lg-5 d-flex align-self-center ml-3">
                <h1 class="text-black">
                    Creating beautiful solutions to advertising your business through Squarespace and Wordpress
                </h1>
            </div>
            <div class="video col-12 col-lg-6 w-100 text-center d-flex align-self-center">
                <!-- <video loop autoplay width="700" height="600" name="Video Name">
                    <source src="media/video-mov-4.mov">
                </video> -->
                <img src="media/mockup-transparent.png" alt="">
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 text-black">
                    Here to help you build your kickass website
                </h2>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 text-black">
                    Here to help you build your kickass website
                </h2>
            </div>
        </div>
    </div>
{% endblock %}