{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid w-100">
        <div class="row">
            <img id="bannerimage" src="media/homepage-7.png" alt="">
            <div class="video col-12 col-md-6">
                <video loop autoplay controls width="700" height="600">
                    <source src="media/mockup-vid-2.mp4" type=video/mp4>
                </video>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-black">
                    Here to help you build your kickass website
                </h1>
            </div>
        </div>
    </div>
{% endblock %}