<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="logo-font nav-item d-block d-md-none">
            <a href="{% url 'home' %}" class="nav-link text-black mr-5" id="home-link">
                Home
            </a>
        </li>
        <li class="logo-font nav-item dropdown">
            <a href="#" class="d-block d-lg-none nav-link text-black mr-5" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Me
            </a>
            <a href="#" class="d-block d-lg-none nav-link text-black mr-5" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="d-block d-lg-none logo-font nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                How to build your website
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Free Consultation</a>
                <a href="" class="dropdown-item ">Creation</a>
                <a href="" class="dropdown-item ">Installation</a>
                <a href="" class="dropdown-item">Support</a>
            </div>
        </li>

        <li class="d-block d-lg-none logo-font nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Squarespace
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Packages</a>
                <a href="{% url 'squarespace_plugins' %}" class="dropdown-item">Plug ins</a>
            </div>
        </li>
    </ul>
</div>